@font-face {
	font-family: "lain";
	src: url("Fonts/lain.ttf") format("ttf");
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

footer {
	background-color: rgba(0, 50, 0, 1);
	padding: 1px;
}

.footer-text {
	color: rgba(0, 0, 0, 0.9);
	text-align: center;
}

.nav ul {
	margin: 0;
	text-align: center;
	padding-bottom: 15px;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	margin-left: 250px;
	margin-right: 250px;
	margin-top: -10px;
	margin-bottom: -15px;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(0, 200, 0, .9);
	color: black;
}

.nav a:hover {
	background-color: rgba(0, 0, 255, .3);
	color: white;
}

.nav li {
	padding: 0 5%;
}

.main-header {
	background-image: url("Images/header.gif");
	background-size: tile;
	margin: 0;
	margin-top: -25px;
	padding-left: 0px;
	color: #10a723;
}

.main-header h1 {
	background-color: rgba(0, 0, 0, .85);
	background-blend-mode: multiply;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: -10px;
	letter-spacing: 100px;
	font-size: 20px;
}

section {
	background-color: rgba(0, 0, 0);
	text-align: center;
	padding: 0px;
	margin-top: -20px;
	padding-bottom: 400px;
}

.home-text {
	color: rgba(0, 0, 0);
	margin-top: 20px;
	padding-top: 50px;
	padding-bottom: 25px;
	font-size: 32px;
}

.home-text:hover {
	color: rgba(0, 255, 0);
	animation: animate 0.08s linear infinite; 
}

.home-image {
	text-align: center;
}

.wired-image {
	text-align: center;
	margin-top: 20px;
}

.wired-text {
	text-align: center;
	color: rgba(0, 255, 0);
	animation: animate 0.08s linear infinite; 
	font-size: 20px;
}

.wired-links li {
	text-align: center;
	display: block;
	padding-top: 50px;
	padding-right: 40px;
}

.wired-links a {
	color: rgba(0, 255, 0);
}

.wired-links a:hover {
	color: rgba(255, 255, 255, 0.5);
}
  
@keyframes animate{ 
   0%{ 
     opacity: 0; 
   } 
   50%{ 
     opacity: 0.2; 
   } 
   100%{ 
     opacity: 0; 
   } 
 } 